<div class="content">
  <h3>Sample h3 tag</h3>
  <p>Sample pararaph</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lacinia vestibulum venenatis. Quisque non posuere lacus.
  Phasellus vehicula non mauris non tincidunt. Quisque molestie vitae nunc in sodales. Proin sodales ligula a diam commodo,
  ac convallis magna venenatis. Fusce rhoncus blandit nisi. Phasellus mollis sit amet eros at luctus. Phasellus felis turpis,
  scelerisque id semper id, semper eget risus. Quisque condimentum tellus interdum felis interdum hendrerit. Aenean posuere
  orci vitae tempus tempor. Pellentesque gravida hendrerit nisl, id ornare metus tincidunt ut. Praesent cursus neque id tempus
  semper. Donec vel cursus metus, et luctus quam. Donec vitae libero vitae neque finibus malesuada. Donec in tincidunt justo.</p>
</div>

<div>
  <object id="obj" type="application/pdf">
  </object>


  <button (click)="showPdf()">Show PDF</button>
</div>